* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

#app__cart {
	width: 375px;
	height: 812px;
	background: var(--primary-bg);
}

.section__header {
	padding: 30px 24px 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn__back {
	width: 35px;
	height: 35px;
	background-color: var(--items-bg);
	background-image: url(../public/icons/Arrow-reverse.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	justify-content: center;
	cursor: pointer;
}

.big-title__header {
	font-family: var(--semiBold-font);
	font-size: 20px;
	color: var(--primary-color);
}

.btn__cart {
	width: 35px;
	height: 35px;
	background-color: var(--items-bg);
	background-image: url(../public/icons/cart.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	justify-content: center;
	cursor: pointer;
}

.nav__header {
	margin-top: 30px;
}

.items-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.item-nav {
	font-family: var(--regular-fonts);
	font-size: 16px;
	color: var(--sixth-color);
	transition-duration: .3s;
}

.item-nav:hover {
	color: var(--primary-color);
}

.main {
	margin: 40px 30px 0 17px;
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#big-burger {
	width: 213px;
	height: 310px;
}

.heart-wrapper {
	position: absolute;
	left: 215px;
}

.button-burger {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	cursor: pointer;
	transition-duration: .3s;
}

.button-burger:hover {
	background-color: var(--items-bg);
}

.title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.big-text {
	font-family: var(--medium-font);
	font-size: 28px;
	font-weight: 500;
	color: var(--primary-color);
}

.little-text-main {
	margin-top: 6px;
}

.little-text {
	font-family: var(--medium-font);
	font-size: 13px;
	font-weight: 400;
	color: var(--secondary-bg);
}

.price {
	font-family: var(--semiBold-font);
	font-size: 28px;
	font-weight: 600;
	color: var(--primary-color);
}

.quantity {
	margin-top: 37px;
}

.quantity input {
	font-family: var(--regular-fonts);
	border: none;
	text-align: center;
	width: 9px;
	font-size: 16px;
	color: var(--primary-color);
	background-color: var(--items-bg);

}

button[class*=btn] {
	width: 28px;
	height: 28px;
	background-color: #D9D9D9;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.minus-btn img {
	margin-bottom: 3px;
}

.plus-btn img {
	margin-top: 2px;
}

button:focus,
input:focus {
	outline: 0;
}

.footer {
	margin: 25px 24px 0 24px;
}

.text-footer {
	font-family: var(--semiBold-font);
	font-weight: 500;
	font-size: 20px;
	color: var(--primary-color);
}

.text-footer img {
	position: relative;
	top: 7px;
}

.range-wrapper {
	margin-top: 20px;
}

.slider {

	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
	background: linear-gradient(#FF5C00, #FF0202);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}


.slider:hover {
	opacity: 1;
}


.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 23px;
	background: #FF5C00;
	cursor: pointer;
}

.range-values {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6px;
}

.range-value {
	font-size: var(--medium-font);
	font-size: 14px;
	font-weight: 500;
}

.mild {
	color: #ffffff;
}

.medium {
	color: #FF5C00;
}

.hot {
	color: #FF0202;
}

.btn-footer {
	display: flex;
	justify-content: center;
	margin-top: 28px;
}

.btn-add {
	border: none;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	width: 165px;
	height: 49px;
	background-color: var(--items-bg);
	font-family: var(--medium-font);
	font-size: 20px;
	font-weight: 500;
	color: var(--primary-color);
	transition-duration: .3s;
	cursor: pointer;
}

.btn-add:hover {
	color: var(--button-bg);
}