* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

#container {
	width: 375px;
	height: 812px;
	background: var(--primary-bg);
}

.title__head {
	padding: 82px 0 0 24px;
}

.little__title {
	font-family: var(--regular-fonts);
	font-size: var(--font-size-m);
	color: var(--secondary-color);
}

.big__title {
	font-family: var(--medium-fonts);
	font-size: var(--font-size-x);
	color: var(--third-color);
}

.search-wrapper {
	padding: 25px 0 0 24px;
}

.search__header {
	width: 319px;
	height: 45px;
	background-color: var(--items-bg);
	border: none;
	outline: none;
	font-family: var(--regular-fonts);
	font-size: 20px;
	color: var(--fourth-color);
	padding-left: 17px;
}

.nav-bar {
	width: 319px;
	display: flex;
	justify-content: space-between;
	margin: 23px 0 0 24px;
}

.chicken {
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: var(--items-bg);
	font-family: var(--regular-fonts);
	font-size: var(--font-size-s);
	color: var(--primary-color);
	background-image: url(../public/icons/Poultry\ Leg.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 20%;
	padding-top: 30px;
	cursor: pointer;
	transition-duration: .3s;
}

.chicken:hover {
	background-color: var(--items-hover-bg);
}

.beef {
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: var(--items-bg);
	font-family: var(--regular-fonts);
	font-size: var(--font-size-s);
	color: var(--primary-color);
	background-image: url(../public/icons/Beef.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 20%;
	padding-top: 30px;
	cursor: pointer;
	transition-duration: .3s;
}

.beef:hover {
	background-color: var(--items-hover-bg);
}

.vegetable {
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: var(--items-bg);
	font-family: var(--regular-fonts);
	font-size: var(--font-size-s);
	color: var(--primary-color);
	background-image: url(../public/icons/Cauliflower.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 20%;
	padding-top: 30px;
	cursor: pointer;
	transition-duration: .3s;
}

.vegetable:hover {
	background-color: var(--items-hover-bg);
}

.cheese {
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: var(--items-bg);
	font-family: var(--regular-fonts);
	font-size: var(--font-size-s);
	color: var(--primary-color);
	background-image: url(../public/icons/Cheese.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 20%;
	padding-top: 30px;
	cursor: pointer;
	transition-duration: .3s;
}

.cheese:hover {
	background-color: var(--items-hover-bg);
}

.items__main {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	margin: 35px 24px 0 24px;
	row-gap: 25px;
}

.item-main {
	width: 160px;
	height: 170px;
	border-radius: 5px;
	background-color: var(--items-bg);
}

.item-img-wrapper {
	display: flex;
	justify-content: center;
	margin-top: -13px;
}

.item-text {
	margin: 7px 0 0 10px;
}

.item-big-text {
	font-family: var(--medium-fonts);
	font-size: 14px;
	color: var(--primary-color);
}

.item-little-text {
	font-family: var(--regular-fonts);
	font-size: 11px;
	color: var(--fifth-color);
}


.bottom-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 10px 0 0 10px;
}

.item-price-text {
	font-family: var(--semiBold-font);
	font-size: 16px;
	color: var(--primary-color);
	align-self: start;
}

.btn-product {
	width: 37px;
	height: 39px;
	background-color: var(--button-bg);
	border-radius: 5px 0 5px;
	border: none;
	background-image: url(../public/icons/+.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	align-self: flex-end;
	cursor: pointer;
}

.footer {
	padding-top: 27px;
}

.nav__footer {
	background-color: var(--nav-home-bg);
	display: flex;
	justify-content: center;
}

.btn__nav {
	width: 89px;
	height: 88px;
	background-color: var(--nav-home-bg);
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition-duration: .3s;
}

.btn__nav:hover {
	background: var(--items-bg);
}

.btn-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-btn-nav {
	font-family: var(--montserrat-font);
	color: var(--primary-color);
	font-size: 14px;
}

.img-nav {
	text-align: center;
}

#home {
	margin-top: 2px;
}