@font-face {
	font-family: --medium-font;
	src: url(../public/fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: --regular-fonts;
	src: url(../public/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: --semiBold-font;
	src: url(../public/fonts/RobotoMono-SemiBold.ttf);
}
@font-face {
	font-family: --montserrat-font;
	src: url(../public/fonts/Montserrat-Regular.ttf);
}


:root {
	/* background */
	--primary-bg: #000000;
	--secondary-bg: #ABA6AE;
	--button-bg: #646165;
	--items-bg: #232222;
	--items-hover-bg:#4B494C;
	--nav-home-bg: #1C1C1C;
	/* color */
	--primary-color: #ffffff;
	--secondary-color: #ABA6AE;
	--third-color: #E9E5E5;
	--fourth-color: #C3BAC8;
	--fifth-color:#DCD1D1;
	--sixth-color:#9F95A4;
	/* font-size */
	--font-size-x: 32px;
	--font-size-m: 24px;
	--font-size-s: 9px;
}